@import './colors';

:host {
    display: flex;
    width: 100%;
}

section {
    width: 100%;
}

js-header {
    margin: auto;
}

js-flow-button {
    display: block;
    padding: 1.25rem;
}

p {
    color: $grey1;
}

// .blue-card {
//     color: rgba(255,255,255,0.95);
//     max-width: 700px;
//     border-radius: 4px;
//     background: $blue1;
//     box-shadow: 1px 4px 30px $blue2;
//     margin: 1.2rem auto;
//     padding: 2.5rem;
//     transition: all 0.3s;

//     &:hover, &:active {
//         transform: scale(1.01);
//     }
// }

// @media screen and (max-width: 768px) {
//     .blue-card {
//         padding: 1.8rem;
//     }
// }