<section movepadding container>
    <div move class="card">
        <div up>
            <js-flow-header xxl text-center title="Jeffrey Smith"></js-flow-header>
        </div>
        <div text-center>
            <div divider up></div>
            <p down md-lg>
                I design & build digital experiences in Philadelphia, PA.
            </p>
        </div>
        <js-swarm></js-swarm>
    </div>
    <div text-center>
        <js-flow-button text="Get in touch"></js-flow-button>
    </div>
</section>